@import url(./css/header.css);
:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --degrade:linear-gradient(90deg, rgba(255,220,0,1) 0%, rgba(238,28,11,1) 35%, rgba(6,6,6,1) 100%);
    --fonte-principal: "Poppins";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
}
